---
// Import necessary components, modules and types
import MainLayout from "@/layouts/MainLayout.astro";
import CardBlog from "@/components/ui/cards/CardBlog.astro";
import { getAllPosts } from '../../lib/cosmic'

import { SITE } from "@/data_files/constants";

const data = await getAllPosts()

// Define variables for page content
const title: string = "Your Gateway to Detailing Excellence";
const subTitle: string =
  "Explore the latest news, tips, and insights from Vanity Suds to enhance your vehicles appearence. From detailing knowledge to news updates, our blog is your go-to resource for all things detailing.";
const secondTitle: string = "Insights";
const secondSubTitle: string =
  "Stay up-to-date with the latest trends and developments in the construction industry with insights from ScrewFast's team of industry experts. ";

const pageTitle: string = `Blog | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://vanitysuds.com/blog",
    "url": "https://vanitysuds.com/blog",
    "name": "Blog | Vanity Suds",
    "description": "Stay up-to-date with the latest trends and developments in the construction industry with insights from ScrewFast's team of industry experts.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://vanitysuds.com",
      "name": "Vanity Suds",
      "description": "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "en-US"
  }}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        {title}
      </h1>

      <p
        class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  </section>

  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <!--Blog posts grid-->
    <div class="grid gap-6 lg:grid-cols-2">
      {
        data.map((post) => (
          <CardBlog
            title={post.title}
            href={post.slug}
            excerpt={post.metadata.excerpt}
            author={post.metadata.author.title}
            postDate={post.metadata.published_date}
            postImage={post.metadata.image.imgix_url}
            
          />
        ))
      }
    </div>
  </section>
</MainLayout>
